body {
  display: block !important;
  place-items: unset !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.layout-main {
  display: flex;
}

.app-bar {
  width: calc(100% - 240px);
  margin-left: 240px;
}

.drawer-permanent {
  width: 240px;
  flex-shrink: 0;
}

.drawer-permanent .MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
}

.drawer-content {
  text-align: center;
  padding: 1rem 0;
}

.drawer-title {
  margin: 1rem 0;
}

.drawer-button {
  text-align: center;
}

.main-content-area {
  flex-grow: 1;
  padding: 1.5rem;
  width: calc(100% - 240px);
}